.blue-line::after {
    background-color: #09a0f7;
    content: '';
    position: absolute;
    height: 4px;
    width: 50px;
    display: block;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.signature {
    font-family: 'Lavishly Yours', cursive;
    letter-spacing: 3px;
}