.contact-background{
    background-image: url('../../images/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;   
}
.contact{
    margin-top: -150px;
    background-color: whitesmoke;
    margin-bottom: 50px;
}